.header_nav {
  box-shadow: $shadow;
  background: $white;
  .wrapper_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin: 0;
      line-height: 0px;
      a {
        font-size: 23px;
        color: $base1;
        padding: 24px 0px 21px;
      }
    }
    nav {
      .nav_area {
        .nav_list {
          &:last-child {
            .nav_item {
              padding-right: 0;
            }
          }
          .nav_item {
            padding: 26px 20px;
            display: inline-block;
            color: #323232;
            font-size: 16px;
          }
        }
      }
    }
  }
}
.header_top {
  background: $base1;
  padding: 6px 0px;
  .wrapper_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left_content {
      .contact_info {
        display: flex;
        li {
          margin-right: 22px;
          color: $white;
          font-size: 14px;
          i {
            margin-right: 5px;
            font-size: 13px;
          }
        }
      }
    }
    .right_content {
    }
  }
}
